.button {
  padding: 10px;
  background-color: #C0924D;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-family: 'rubik', cursive;
  font-weight: 100;
  height: 50px; 
  width: 180px; 
}

.button:hover {
  background-color: #b9945c;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button:active {
  background-color: #b9945c;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
  
  .buttonCircle {
      width: 50px; 
      height: 50px; 
      padding: 10px;
      background-color: #C0924D;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
  }
  
  .buttonCircle:hover {
      background-color: #b9945c;
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .buttonCircle:active {
      background-color: #b9945c;
      transform: translateY(0);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .buttonCircle:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(233, 50, 114, 0);
  }

.buttonSquare {
  width: 50px; 
  height: 50px; 
  padding: 10px;
  background-color: #C0924D;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
} 

.buttonSquare:hover {
  background-color: #b9945c;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.buttonSquare:active {
  background-color: #b9945c;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.buttonSquare:focus {
  outline: none;
}