

.button {
    padding: 10px 20px;
    background-color: #E93271;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Cherry Bomb One', cursive;
    font-weight: 50;
  }
  
  .button:hover {
    background-color: #e75c8d;
    transform: translateY(-2px);
  }
  
  .button:active {
    background-color: #E93271;
    transform: translateY(0);
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(245, 245, 245, 0);
  }
  
  .buttonCircle {
      width: 50px; /* Fixed width */
      height: 50px; /* Fixed height */
      padding: 10px;
      background-color: #E93271;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.2rem;
  }
  
  .buttonCircle:hover {
      background-color: #c7255d;
      transform: translateY(-2px);
  }
  
  .buttonCircle:active {
      background-color: #a61d4a;
      transform: translateY(0);
  }
  
  .buttonCircle:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(233, 50, 113, 0.5);
  }