.button {
  display: flex;
  padding: 10px;
  background-color: #C0924D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'rubik', cursive;
}

.button:hover {
  background-color: #D5B587;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button:active {
  background-color: #b9945c;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}