/* fonts.css */
.header-large {
    font-size: 2.6rem;
    font-family: 'Rubik Dirt', sans-serif;
    color: #405071;
}

.body-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
}

.price-text {
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
}

.stock-green {
    color: green; /* Green text for stock message */
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.stock-yellow {
    color: #bea200; /* Yellow text for stock message */
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.stock-red {
    color: red; /* Red text for stock message */
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}