.navbar img {
    max-height: 80px;
    padding: 10px;
}

.nav-link {
    flex: 1;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    font-family: 'Rubik Dirt', sans-serif;
    transition: color 0.3s, text-shadow 0.3s;
}

.nav-link:hover {
    transform: translateY(-2px);
    color: white;
    text-shadow: 1px 0 var(--main-color), -1px 0 var(--main-color), 0 4px var(--main-color), 0 -1px var(--main-color);
}

.nav-button {
    padding: 10px;
    color: var(--main-color);
    border: none;
    font-size: 30px !important;
    font-family: 'Rubik Dirt', sans-serif;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    transition: color 0.3s, text-shadow 0.3s;
}

.nav-button:hover {
    transform: translateY(-2px);
    color: white;
    text-shadow: 1px 0 var(--main-color), -1px 0 var(--main-color), 0 4px var(--main-color), 0 -1px var(--main-color);
}

.navbar-toggler {
    border: none;
    width: fit-content;
}

.unstyled {
    all: unset; /* Reset all inherited styles */
    display: inline-block; /* Allow proper alignment for the image */
    padding: 6px;
    cursor: pointer; /* Restore pointer cursor for clickability */
}

.unstyled img {
    display: block; /* Remove inline spacing issues */
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}