.square{
    display: compact;
    width: 45vw;
    height: 80vh;
    background-color: #696969;
    overflow: auto;
}

.diname{
    display: flex;
    column-gap: 1vw;
    justify-content: space-between;
}
.contacts{
    display: flex;
    column-gap: 1vw;
    justify-content: space-between;
}

.name{
    max-width: 35vw;
}