.square{
    background-color: #E3E3E3;
    overflow: hidden;
}

.name{
    margin-top: 2.5%;
}

.CountrySelect{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.levering{
    margin-top: 2.5%;
}
