.modal {
    position: fixed;
    width: 20em;
    top: 5em !important;
    right: 3em !important;
    margin-left: auto;
    height: fit-content;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    font-family: 'Rubik', sans-serif;
}

.modal-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: white;
    padding: 1em;
}

.modal.display-block {
    display: block;
}

.modal.display-none {
    display: none;
}