.modal {
    position: fixed;
    width: 20em;
    top: 5em;
    right: 3em;
    margin-left: auto;

}

.modal-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: white;
    padding: 2em;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.modal.display-block {
    display: block;
}

.modal.display-none {
    display: none;
}