.button {
  padding: 10px 20px;
  background-color: #E93271;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #e75c8d;
  transform: translateY(-2px);
}

.button:active {
  background-color: #E93271;
  transform: translateY(0);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(245, 245, 245, 0);
}