@font-face {
    font-family: 'CherryBomb';
    src: url('../fonts/CherryBombOne-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Shadows';
    src: url('../fonts/ShadowsIntoLightTwo-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'RubikRegular';
    src: url('../fonts/Rubik-Regular.ttf') format("truetype");
}